*{
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
}
ul li{
  list-style: none;
}
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}
#canvas{
  background: #fff;
}
.actions{
  position: fixed;
  top: 0;
  left: 0;
  margin:20px;
}
.actions svg{
  margin: 0 10px;
}
.actions svg.active{
  fill:red;
  transform: scale(1.2);
  transition: 0.3s;
}
.color{
  position: fixed;
  top:65px;
  left:30px;
}
.color li{
  width: 20px;
  height: 20px;
  border:1px solid black;
  margin-top: 15px;
  border-radius: 50%;
  border:2px solid #ccc;
  cursor: pointer;
}
.color li.active{
  transform:scale(1.2);
  transition: 0.3s;
}
.black{
  background-color: black;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}.blue{
  background-color: blue;
}
.size{
  position: fixed;
  top: 30px;
  right: 20px;
}
.size>li{
  margin: 20px 0;
  cursor: pointer;
}
.size>.thin{
  height: 5px;
  width: 15px;
  background-color: black;
}
.size>.thick{
  height: 8px;
  width: 15px;
  background-color: black;
}