*{
  padding: 0;
  margin: 0;
}
#canvas{
  background: #04f7ff;
}
.actions{
  position: fixed;
  top: 0;
  left: 0;
}
.actions > #eraser{
  display: inline-block;
}
.actions > #pen{
  display: none;
}
.actions.x > #pen{
  display: inline-block;
}
.actions.x > #eraser{
  display: none;
}
button{
  border-radius: 10px;
  width: 75px;
  height:35px;
  background-color: rgb(220, 127, 243);
  border-color: rgb(220, 127, 243);
  color:#fff;
}
